h1.nickname {
  font-family: 'Nova Slim', cursive;
  font-size: 50px;
  text-align: center;
}

.form-area {
 text-align: center;
 
}

.form-area #userName,
.form-area #clickMe {
  height:35px;
  font-size: 25px;
  font-family: 'Quicksand', sans-serif;

}
.form-area #clickMe {
  cursor: pointer;
  height:40px;
}

.nickname-container {
  display: flex;
  justify-content: center;
} 

#personName,
#personStatus,
#personOccupation {
  font-family: 'Nova Slim', cursive;
  font-size: 50px;
  min-width: 25px;
  padding: 10px;
}